@using System.ComponentModel.DataAnnotations
@page "/cadastrarArtista"
@inject ArtistasAPI artistasAPI
@inject NavigationManager navigationManager

<h3>Cadastro de Artista</h3>

<EditForm Model="@artistaForm" OnValidSubmit="Cadastrar">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="form-group">
        <label>Nome</label>
        <InputText @bind-Value="artistaForm.Nome" class="input"/>
    </div>

    <div class="form-group">
        <label>Biografia</label>
        <InputTextArea @bind-Value="artistaForm.Biografia" class="input" rows="4" /> 
    </div>

    <button type="submit" class="btn">Cadastrar</button>
</EditForm>

@code {
    private ArtistaFormModel artistaForm = new();
    private string? fileImage;

    private async Task Cadastrar()
    {
        var request = new ArtistaRequest(
            artistaForm.Nome!,
            artistaForm.Biografia!,
            artistaForm.FotoPerfil
        );

        await artistasAPI.AddArtistaAsync(request);
        navigationManager.NavigateTo("/artistas");
    }

    public class ArtistaFormModel
    {
        [Required(ErrorMessage = "O nome do artista é obrigatório.")]
        public string? Nome { get; set; }
        [Required(ErrorMessage = "A biografia do artista é obrigatória.")]
        public string? Biografia { get; set; }
        public string? FotoPerfil { get; set; }
    }
}
